
**/.DS_Store

**/nohup.out

**/cache

**/properties.jsonl.gz

RemoteSensing/CSV/

RemoteSensing/JSONL/

RemoteSensing/data/

RemoteSensing/log/

RemoteSensing/download/*.zip

RemoteSensing/fixes/data/

SpeciesOccurrences/data/

SpeciesOccurrences/EU-Trees4F/*.txt

SpeciesOccurrences/EU-Trees4F/species_occurrences/*

Chelsa/log/

Chelsa/1981-2010/CSV/

Chelsa/1981-2010/data/

Chelsa/1981-2010/Clipped/

Chelsa/1981-2010/Full/

Chelsa/1981-2010/log/

Chelsa/2011-2040/MPI-ESM1-2-HR/ssp370/CSV/

Chelsa/2011-2040/MPI-ESM1-2-HR/ssp370/data/

Chelsa/2011-2040/MPI-ESM1-2-HR/ssp370/Clipped/

Chelsa/2011-2040/MPI-ESM1-2-HR/ssp370/Full/

Chelsa/2011-2040/MPI-ESM1-2-HR/ssp370/log/

Chelsa/2041-2070/MPI-ESM1-2-HR/ssp370/CSV/

Chelsa/2041-2070/MPI-ESM1-2-HR/ssp370/data/

Chelsa/2041-2070/MPI-ESM1-2-HR/ssp370/Clipped/

Chelsa/2041-2070/MPI-ESM1-2-HR/ssp370/Full/

Chelsa/2041-2070/MPI-ESM1-2-HR/ssp370/log/

Chelsa/2071-2100/MPI-ESM1-2-HR/ssp370/CSV/

Chelsa/2071-2100/MPI-ESM1-2-HR/ssp370/data/

Chelsa/2071-2100/MPI-ESM1-2-HR/ssp370/Clipped/

Chelsa/2071-2100/MPI-ESM1-2-HR/ssp370/Full/

Chelsa/2071-2100/MPI-ESM1-2-HR/ssp370/log/

WorldClim/log/

WorldClim/1970-2000/CSV/

WorldClim/1970-2000/data/

WorldClim/1970-2000/Clipped/

WorldClim/1970-2000/Full/

WorldClim/1970-2000/log/

WorldClim/2021-2040/MPI-ESM1-2-HR/ssp370/CSV/

WorldClim/2021-2040/MPI-ESM1-2-HR/ssp370/data/

WorldClim/2021-2040/MPI-ESM1-2-HR/ssp370/Clipped/

WorldClim/2021-2040/MPI-ESM1-2-HR/ssp370/Full/

WorldClim/2021-2040/MPI-ESM1-2-HR/ssp370/log/

WorldClim/2041-2060/MPI-ESM1-2-HR/ssp370/CSV/

WorldClim/2041-2060/MPI-ESM1-2-HR/ssp370/data/

WorldClim/2041-2060/MPI-ESM1-2-HR/ssp370/Clipped/

WorldClim/2041-2060/MPI-ESM1-2-HR/ssp370/Full/

WorldClim/2041-2060/MPI-ESM1-2-HR/ssp370/log/

WorldClim/2061-2080/MPI-ESM1-2-HR/ssp370/CSV/

WorldClim/2061-2080/MPI-ESM1-2-HR/ssp370/data/

WorldClim/2061-2080/MPI-ESM1-2-HR/ssp370/Clipped/

WorldClim/2061-2080/MPI-ESM1-2-HR/ssp370/Full/

WorldClim/2061-2080/MPI-ESM1-2-HR/ssp370/log/

WorldClim/2081-2100/MPI-ESM1-2-HR/ssp370/CSV/

WorldClim/2081-2100/MPI-ESM1-2-HR/ssp370/data/

WorldClim/2081-2100/MPI-ESM1-2-HR/ssp370/Clipped/

WorldClim/2081-2100/MPI-ESM1-2-HR/ssp370/Full/

WorldClim/2081-2100/MPI-ESM1-2-HR/ssp370/log/

WorldClim/Elevation/CSV/

WorldClim/Elevation/data/

WorldClim/Elevation/Clipped/

WorldClim/Elevation/Full/

WorldClim/Elevation/log/

GlobalDroughtObservatory/log/

GlobalDroughtObservatory/data/

GlobalDroughtObservatory/FAPAN/log/

GlobalDroughtObservatory/FAPAN/CSV/

GlobalDroughtObservatory/FAPAN/converted/

GlobalDroughtObservatory/FAPAN/data/

GlobalDroughtObservatory/FAPAN/download/

GlobalDroughtObservatory/FAPAR/log/

GlobalDroughtObservatory/FAPAR/CSV/

GlobalDroughtObservatory/FAPAR/converted/

GlobalDroughtObservatory/FAPAR/data/

GlobalDroughtObservatory/FAPAR/download/

GlobalDroughtObservatory/HCWI/log/

GlobalDroughtObservatory/HCWI/ano/CSV/

GlobalDroughtObservatory/HCWI/ano/converted/

GlobalDroughtObservatory/HCWI/ano/data/

GlobalDroughtObservatory/HCWI/ano/download/

GlobalDroughtObservatory/HCWI/max/CSV/

GlobalDroughtObservatory/HCWI/max/converted/

GlobalDroughtObservatory/HCWI/max/data/

GlobalDroughtObservatory/HCWI/max/download/

GlobalDroughtObservatory/HCWI/min/CSV/

GlobalDroughtObservatory/HCWI/min/converted/

GlobalDroughtObservatory/HCWI/min/data/

GlobalDroughtObservatory/HCWI/min/download/

GlobalDroughtObservatory/CDI/log/

GlobalDroughtObservatory/CDI/CSV/

GlobalDroughtObservatory/CDI/converted/

GlobalDroughtObservatory/CDI/data/

GlobalDroughtObservatory/CDI/download/

GlobalDroughtObservatory/SMA/log/

GlobalDroughtObservatory/SMA/CSV/

GlobalDroughtObservatory/SMA/converted/

GlobalDroughtObservatory/SMA/data/

GlobalDroughtObservatory/SMA/download/

GlobalDroughtObservatory/SMI/log/

GlobalDroughtObservatory/SMI/CSV/

GlobalDroughtObservatory/SMI/converted/

GlobalDroughtObservatory/SMI/data/

GlobalDroughtObservatory/SMI/download/

GlobalDroughtObservatory/TWS/log/

GlobalDroughtObservatory/TWS/CSV/

GlobalDroughtObservatory/TWS/converted/

GlobalDroughtObservatory/TWS/data/

GlobalDroughtObservatory/TWS/download/
