
.DS_Store

config.txt

Chelsa/1981-2010/CSV/

Chelsa/1981-2010/data/

Chelsa/1981-2010/ForgeniusClipped/

Chelsa/1981-2010/Full/

Chelsa/2011-2040/MPI-ESM1-2-HR/ssp370/CSV/

Chelsa/2011-2040/MPI-ESM1-2-HR/ssp370/data/

Chelsa/2011-2040/MPI-ESM1-2-HR/ssp370/ForgeniusClipped/

Chelsa/2011-2040/MPI-ESM1-2-HR/ssp370/Full/

Chelsa/2041-2070/MPI-ESM1-2-HR/ssp370/CSV/

Chelsa/2041-2070/MPI-ESM1-2-HR/ssp370/data/

Chelsa/2041-2070/MPI-ESM1-2-HR/ssp370/ForgeniusClipped/

Chelsa/2041-2070/MPI-ESM1-2-HR/ssp370/Full/

Chelsa/2071-2100/MPI-ESM1-2-HR/ssp370/CSV/

Chelsa/2071-2100/MPI-ESM1-2-HR/ssp370/data/

Chelsa/2071-2100/MPI-ESM1-2-HR/ssp370/ForgeniusClipped/

Chelsa/2071-2100/MPI-ESM1-2-HR/ssp370/Full/

WorldClim/1970-2000/CSV/

WorldClim/1970-2000/data/

WorldClim/1970-2000/ForgeniusClipped/

WorldClim/1970-2000/Full/

WorldClim/2021-2040/MPI-ESM1-2-HR/ssp370/CSV/

WorldClim/2021-2040/MPI-ESM1-2-HR/ssp370/data/

WorldClim/2021-2040/MPI-ESM1-2-HR/ssp370/ForgeniusClipped/

WorldClim/2021-2040/MPI-ESM1-2-HR/ssp370/Full/

WorldClim/2041-2060/MPI-ESM1-2-HR/ssp370/CSV/

WorldClim/2041-2060/MPI-ESM1-2-HR/ssp370/data/

WorldClim/2041-2060/MPI-ESM1-2-HR/ssp370/ForgeniusClipped/

WorldClim/2041-2060/MPI-ESM1-2-HR/ssp370/Full/

WorldClim/2061-2080/MPI-ESM1-2-HR/ssp370/CSV/

WorldClim/2061-2080/MPI-ESM1-2-HR/ssp370/data/

WorldClim/2061-2080/MPI-ESM1-2-HR/ssp370/ForgeniusClipped/

WorldClim/2061-2080/MPI-ESM1-2-HR/ssp370/Full/

WorldClim/2081-2100/MPI-ESM1-2-HR/ssp370/CSV/

WorldClim/2081-2100/MPI-ESM1-2-HR/ssp370/data/

WorldClim/2081-2100/MPI-ESM1-2-HR/ssp370/ForgeniusClipped/

WorldClim/2081-2100/MPI-ESM1-2-HR/ssp370/Full/

WorldClim/Elevation/CSV/

WorldClim/Elevation/data/

WorldClim/Elevation/ForgeniusClipped/

WorldClim/Elevation/Full/
